<%- include("partials/header.ejs") %>
<div class="about">
<h1>About Me:</h1>

<p>
  I am a full stack developer with a passion for creating and learning new things. 
  I have experience with HTML, CSS, JavaScript, Node.js, Express, and SQL. I also Love the Zelda Franchise if you couldn't tell.
</p>

</div>
<img src="images/toonlink.webp" alt="korok" class="toonLink" />
<%- include("partials/footer.ejs") %>
