<%- include("partials/header.ejs") %>


  <h1>Home</h1>
<div class="typewriter">
  <p>
Hello There, welcome to my page. 
  </p>
</div>
  <img src="images/korok.gif" alt="korok" class="korok" />
  

  <%- include("partials/footer.ejs") %>

